@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./assets/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
  width: 100%;
  font-family: "Poppins", sans-serif;
  min-width: 360px;
  min-height: 100vh;
}

@media screen and (max-width: 420px) {
  .App {
    padding: 0 5%;
  }
}
